@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Libertinus+Serif+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libertinus Serif Display", system-ui;
    letter-spacing: -0.2px;
}


/* Styles for screens with a maximum width of 768px (e.g.,mobile,
tablets in portrait mode and smaller) */
@media screen and (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
        padding: 0.5rem 0.5rem;
    }

    .left-sidebar-container {
        flex-direction: row;
        overflow-x: auto;
        padding: 0.5rem 0.2rem;
    }

    .middle-main-container {
        margin: 5px 5px 5px 5px;
    }

    .top-middle-container {
        margin: 10px 10px 15px 5px;
    }
}

.dashboard-container {
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding: 1rem 1rem;
    column-gap: 1rem;
    gap: 1rem;
}

/*avatar brands container*/

.top-dashboard-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
    padding-bottom: 1rem;
}

.first-avatar-container {
    font-weight: 500;
    font-size: larger;
    background-color: black;
    border-radius: 5rem 5rem 5rem 5rem;
}

.first-avatar-container img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-items: start;
    background-color: black;
}

.online-avatar-container {
    border-radius: 10rem;
    background-color: green;
    position: absolute;
    left: 60px;
    top: 42px;
    font-size: medium;
    font-weight: 400;

}

.searchbar-container {
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 3rem;
}

.searchbar-container input {
    width: 70%;
    height: auto;
    font-size: larger;
    font-style: normal;
    font-weight: 400;
}

.left-sidebar-container {
    width: 100%;
    height: auto;
    font-size: medium;
    font-weight: 300;
    column-gap: 2rem;
    gap: 1rem;
    padding: 1rem 0.5rem;
    position: static;
}

.products-container {
    width: 100%;
    height: auto;
    column-gap: 1rem;
    gap: 1rem;
    justify-content: space-between;
}

.products-container h5 {
    font-size: medium;
    font-weight: 300;
    column-gap: 1rem;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
}

.conversation-list-container {
    width: 100%;
    height: auto;
    column-gap: 1rem;
    font-size: medium;
    justify-content: space-between;
}

.conversation-container {
    width: 100%;
    height: auto;
    column-gap: 0.5rem;
    font-size: large;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.conversation-container h4 {
    width: 100%;
    height: auto;
    column-gap: 1rem;
    font-size: small;
    column-gap: 1rem;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    justify-content: space-between;
}

.conversation-middle-container {
    width: 100%;
    height: auto;
    column-gap: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: large;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 4rem;
}

.pinned-top-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 4rem;
    gap: 3rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: small;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.pin-ticket-container {
    width: 100%;
    height: auto;
    column-gap: 5rem;
    gap: 4rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: large;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.pinned-ticket-container {
    gap: 2rem;
    column-gap: 1rem;
    padding-bottom: 1rem;
}

.middle-main-container {
    width: 100%;
    height: auto;
}

.top-middle-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 1px solid rgba(245, 222, 179, 0.527);
}

.